<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Banking System</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-800 text-white font-sans min-h-screen flex items-center justify-center">
    <div class="bg-gray-900 p-10 rounded-lg shadow-lg w-full max-w-md">
        <div class="text-center mb-8">
            <div class="text-4xl mb-4 text-white">
                <i class="fa-solid fa-university"></i>
            </div>
            <h2 class="text-2xl font-bold">Online Banking System</h2>
            <p class="text-l text-gray-400 mt-2">Member Login</p>
        </div>
        {% if messages %}
            {% for message in messages %}
                <p class="mb-4 text-red-500"><i class="fa-solid fa-circle-xmark"></i> {{ message }}</p>
            {% endfor %}
        {% endif %}
        <form action="{% url 'member_login' %}" method="post">
            {% csrf_token %}
            <div class="mb-6">
                <label for="account_number" class="sr-only">Account Number</label>
                <input 
                    id="account_number"
                    name="account_number"
                    type="text" 
                    class="w-full px-4 py-2 rounded-lg bg-gray-800 text-gray-200 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter Account Number"
                />
            </div>
            
            <div class="mb-6">
                <label for="password" class="sr-only">Password</label>
                <input 
                    id="password"
                    name="password"
                    type="password" 
                    class="w-full px-4 py-2 rounded-lg bg-gray-800 text-gray-200 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter Password"
                />
            </div>
            <button 
                type="submit" 
                class="w-full py-3 bg-blue-600 hover:bg-blue-700 text-white rounded-lg font-medium transition duration-300">
                Login
            </button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script>
        // Check if the message box exists
        const messageBox = document.getElementById('message-box');
    
        if (messageBox) {
            // Set a timeout to hide the message box after 5 seconds (5000 ms)
            setTimeout(function() {
                messageBox.style.display = 'none';
            }, 5000);
        }
    </script>
</body>
</html>
